/* src/pages/map/map.css */

.leaflet-map-wrapper {
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.top-bar {
  width: 100%;
  height: 60px;
  background-color: #88d2c0; /* dark green */
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  z-index: 1000;
}

.leaflet-map-wrapper {
  width: 100vw;
  height: calc(100vh - 60px); /* subtract the height of the top bar */
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

