@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Top navigation bar */
.top-bar {
  background-color: #183B4E;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Landing page layout */
.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Get Started Button container */
.get-started-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rounded blue Get Started button */
.get-started-button {
  background-color: #27548A;
  color: white;
  font-size: 16px;
  padding: 14px 28px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #1d406f;
}

/* Auth page layout */
.auth-page {
  background-color: #F3F3E0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reusable auth box container */
.auth-box {
  width: 320px;
  background: rgba(39, 84, 138, 0.85);
  color: white;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid #40175815;
  overflow: hidden;
  transition: height 0.4s ease;
}

/* Variable height based on mode */
.auth-box.register {
  height: 540px;
}

.auth-box.login {
  height: 440px;
}

/* Shared input styles */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffffcf;
}

.input-group input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}

.input-group input::placeholder {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.forgot-password {
  display: block;
  margin-top: -10px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  margin-bottom: 15px;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  width: 100%;
  background-color: #dfeaf7;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/* Toggle Text Links */
.toggle-text {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

.toggle {
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
}

.toggle:hover {
  text-decoration: underline;
}
